<div class="text-center p-4 my-5">
 <h1>第二種電気工事士投稿一覧</h1>
 <% ElectricPost.all.each_with_index do |electric_post, i| %>
  <p><%= i + 1 %>件目</p>
  <% user = User.find_by(id: electric_post.user_id) %>
   <p>ユーザー名： <%= user.username %></p>
   <p>件名： <%= electric_post.title %></p>
   <p>内容： <%= simple_format(electric_post.content) %></p>
   <%= link_to "詳細", electric_post %>
   <%= link_to "編集", edit_electric_post_path(id: electric_post) %>
   <%= link_to "削除", electric_post_path(id: electric_post), method: :delete, data: { confirm: "削除しますか?" } %>
  <% end %>
</div>
<div class="text-center">
  <%= link_to "記事を投稿する", new_electric_post_path, class: "btn outline btn-primary" %>
</div>