<div class="text-center p-4 my-5">
 <h1>第二種電気工事士記事詳細</h1>
 <% user = User.find_by(id: @electric_post) %>
 <p>件名： <%= @electric_post.title %></p>
 <p>内容： <%= simple_format(@electric_post.content) %></p>
 <% if current_user.likes.find_by(electric_post_id: @electric_post.id) %>
   <%= link_to like_destroy_electric_post_path(@electric_post), class: "likeIcon", method: :delete do %>
      <i class="fas fa-heart unlike-btn"></i>
     <%= @likes_count %>
     <% end %>
  <% else %>
   <%= link_to like_create_electric_post_path(@electric_post), class: "likeNo", method: :post do %>
     <i class="far fa-heart like-btn" ></i>
     <%= @likes_count %>
  <% end %>
  <% end %>
    <br>
    <% user = User.find_by(id: @electric_post) %>
     <% @electric_post.comments.each do |comment| %>
      <br />
      <p><%= comment.body %></p>
      <% if user_signed_in? && comment.user == current_user %>
        <p><%= link_to 'コメントを削除する', comment_destroy_electric_post_path, method: :post %></p>
     <% end %>
    <% end %>
    <%= form_with model: @comments, url: comment_create_electric_post_path(@electric_post), local: true do |f| %>
      <%= f.label :body, "コメントする" %>
      <%= f.text_area :body, class: "form-control" %> <br>
      <%= f.submit "送信" %>
    <% end %>
</div>
<h2 class="text-center">
 <%= link_to "投稿一覧に戻る", electric_posts_path, class: "btn outline btn-primary" %>
</h2>