<div class="text-center p-4 my-5">
<h1>ビル管理士記事投稿一覧</h1>
<% BuildPost.all.each_with_index do |build_post, i| %>
  <p><%= i + 1 %>件目</p>
  <% user = User.find_by(id: build_post.user_id) %>
   <p>ユーザー名： <%= user.username %></p>
   <p>件名： <%= build_post.title %></p>
   <p>内容： <%= build_post.content %></p>
   <%= link_to "詳細", build_post %>
<%= link_to "編集", edit_build_post_path(id: build_post) %>
<%= link_to "削除", build_post_path(id: build_post), method: :delete, data: { confirm: "削除しますか?" } %>
<% end %>

<br>
<h2 class="container p-5 my-5"><%= link_to "記事を投稿する", new_build_post_path %></h2>
</div>