<div class="text-center p-4 my-5">
<h1>二級ボイラー技士投稿一覧</h1>
<% BoilPost.all.each_with_index do |boil_post, i| %>
  <p><%= i + 1 %>件目</p>
  <% user = User.find_by(id: boil_post.user_id) %>
   <p>ユーザー名： <%= user.username %></p>
   <p>件名： <%= boil_post.title %></p>
   <p>内容： <%= boil_post.content %></p>
   <%= link_to "詳細", boil_post %>
<%= link_to "編集", edit_boil_post_path(id: boil_post) %>
<%= link_to "削除", boil_post_path(id: boil_post), method: :delete, data: { confirm: "削除しますか?" } %>
<% end %>

<br>
<h2 class="container p-5 my-5"><%= link_to "記事を投稿する", new_boil_post_path %></h2>
</div>