<div class="text-center p-4 my-5">
  <h1>二級ボイラー技士記事詳細</h1>
  <% user = User.find_by(id: @boil_post) %>
  <p>件名： <%= @boil_post.title %></p>
  <p>内容： <%= simple_format(@boil_post.content) %></p>
  <% if current_user.likes.find_by(boil_post_id: @boil_post.id) %>
   <%= link_to like_destroy_boil_post_path(@boil_post), class: "likeIcon", method: :delete do %>
      <i class="fas fa-heart unlike-btn"></i>
     <%= @likes_count %>
     <% end %>
  <% else %>
   <%= link_to like_create_boil_post_path(@boil_post), class: "likeNo", method: :post do %>
     <i class="far fa-heart like-btn" ></i>
     <%= @likes_count %>
 <% end %>
 <% end %>
</div>
<h2 class="text-center">
 <%= link_to "投稿一覧に戻る", boil_posts_path, class: "btn outline btn-primary" %>
</h2>