<div class="text-center p-4 my-5">
<h1>危険物乙種四類記事投稿一覧</h1>
<% DangerPost.all.each_with_index do |danger_post, i| %>
  <p><%= i + 1 %>件目</p>
  <% user = User.find_by(id: danger_post.user_id) %>
   <p>ユーザー名： <%= user.username %></p>
   <p>件名： <%= danger_post.title %></p>
   <p>内容： <%= danger_post.content %></p>
   <%= link_to "詳細", danger_post %>
<%= link_to "編集", edit_danger_post_path(id: danger_post) %>
<%= link_to "削除", danger_post_path(id: danger_post), method: :delete, data: { confirm: "削除しますか?" } %>
<% end %>

<br>
<h2 class="container p-5 my-5"><%= link_to "記事を投稿する", new_danger_post_path %></h2>
</div>