<h1>記事検索</h1><br>
<% if @search.present? %>
  <%= search_form_for @search do |f| %>
    <%= f.label :title, "件名" %>
    <%= f.search_field :title_cont %>

    <%= f.label :content, "内容" %>
    <%= f.search_field :content_cont %>
    <div class="actions"><%= f.submit "検索" %></div>
    <% end %>
    <% @results.each do |result| %>
      <p>件名： <%= result.title %></p>
      <p>内容：<%= simple_format(result.content) %></p>
    <% end %>
 <% end %>